spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bhashamitra?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_0900_ai_ci&serverTimezone=UTC
    username: bhashamitra
    password: bhashamitra
    driver-class-name: com.mysql.cj.jdbc.Driver

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

management:
  endpoint:
    health:
      show-details: always
