spring:
  datasource:
    url: jdbc:mysql://localhost:3306/bhashamitra?useSSL=false&allowPublicKeyRetrieval=true&useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_0900_ai_ci&serverTimezone=UTC&sessionVariables=time_zone=%27%2B00%3A00%27
    username: bhashamitra
    password: bhashamitra
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-init-sql: "SET time_zone = '+00:00'"

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.xml

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none

management:
  endpoint:
    health:
      show-details: always

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG
    org.springframework.web.client: DEBUG
