spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=true&requireSSL=true&verifyServerCertificate=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&sessionVariables=time_zone=%27%2B00%3A00%27
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none

management:
  endpoint:
    health:
      # Don't show sensitive details in production
      show-details: never

